.attention {
  -webkit-animation: 1s attention 0s linear infinite;
          animation: 1s attention 0s linear infinite;
}

.anim_hide_down {
  -webkit-animation: 1s hide_down 0s ease-out;
          animation: 1s hide_down 0s ease-out;
}

.anim_reveal_up {
  -webkit-animation: 1s reveal_up ease-in;
          animation: 1s reveal_up ease-in;
}

.anim_reveal_fromLeft {
  -webkit-animation: 1s reveal_fromLeft ease-in;
          animation: 1s reveal_fromLeft ease-in;
}

.anim_reveal_fromRight {
  -webkit-animation: 1s reveal_fromRight ease-in;
          animation: 1s reveal_fromRight ease-in;
}

@-webkit-keyframes attention {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    color: #05dfd7;
  }
  25% {
    -webkit-transform: translateY(20px) scale(1.2);
            transform: translateY(20px) scale(1.2);
  }
  50% {
    -webkit-transform: translateY(-5px) scale(1.1);
            transform: translateY(-5px) scale(1.1);
    color: #f40552;
  }
  75% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    scale: 0.4;
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes attention {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    color: #05dfd7;
  }
  25% {
    -webkit-transform: translateY(20px) scale(1.2);
            transform: translateY(20px) scale(1.2);
  }
  50% {
    -webkit-transform: translateY(-5px) scale(1.1);
            transform: translateY(-5px) scale(1.1);
    color: #f40552;
  }
  75% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    scale: 0.4;
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes hide_down {
  from {
    bottom: 0px;
  }
  to {
    bottom: -100%;
  }
}

@keyframes hide_down {
  from {
    bottom: 0px;
  }
  to {
    bottom: -100%;
  }
}

@-webkit-keyframes reveal_up {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0px;
  }
}

@keyframes reveal_up {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0px;
  }
}

@-webkit-keyframes reveal_fromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

@keyframes reveal_fromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes reveal_fromRight {
  from {
    right: -100%;
  }
  to {
    right: 0px;
  }
}

@keyframes reveal_fromRight {
  from {
    right: -100%;
  }
  to {
    right: 0px;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes small_shake {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes small_shake {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  30% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  40% {
    -webkit-transform: translateY(-10px) scale(0.6);
            transform: translateY(-10px) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(20px) scale(0.6);
            transform: translateY(20px) scale(0.6);
  }
  70% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  30% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  40% {
    -webkit-transform: translateY(-10px) scale(0.6);
            transform: translateY(-10px) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(20px) scale(0.6);
            transform: translateY(20px) scale(0.6);
  }
  70% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=animations.css.map */