@import './global.scss';
//basic anim
.attention{
    animation: 1s attention 0s linear infinite;
}

//hidding
.anim_hide_down{
    animation:1s hide_down 0s ease-out;
}

//reveal anim
.anim_reveal_up{
    animation: 1s reveal_up ease-in;
}
.anim_reveal_fromLeft{
    animation: 1s reveal_fromLeft ease-in;
}
.anim_reveal_fromRight{
    animation: 1s reveal_fromRight ease-in;
}

@mixin breathing {
    animation: 1s breathing 0s ease-in-out infinite;
}
@mixin bounce {
    animation: 0.2s bounce 0s ease-in-out;
}

@mixin shake {
    animation: 1s shake 0s ease-in-out;
}

@mixin small_shake {
    animation:0.3s small_shake ease-in-out;
}

@mixin attention {
    animation: 4s attention 0s linear infinite;
}


@keyframes attention{
    0%{
        transform: scale(0.6);
        color:$main;
    }
    25%{
        transform: translateY(20px) scale(1.2);
    }
    50%{
        transform: translateY(-5px) scale(1.1);
        color:$accent;
    }
    75%{
        transform: translateY(-20px); scale: (0.4);
    }
    100%{
        transform: scale(0.6);
    }
}

@keyframes hide_down{
    from{
        bottom:0px;
    }
    to{
        bottom:-100%;
    }
}
@keyframes reveal_up{
    from{
        bottom:-100%;
    }
    to{
        bottom:0px;
    }
}
@keyframes reveal_fromLeft{
    from{
        left:-100%;
    }
    to{
        left:0px;
    }
}
@keyframes reveal_fromRight{
    from{
        right:-100%;
    }
    to{
        right:0px;
    }
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes small_shake{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(-30px);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes bounce{
    0%{transform:translateY(-100px);}
    30%{transform:translateY(-100px);}
    40%{transform:translateY(-10px)scale(0.6);}
    60%{transform:translateY(20px)scale(0.6);}
    70%{transform:scaleY(0.6);}
    80%{transform:translateY(0px);}
}
@keyframes breathing{
    0%{transform:scale(0.8);}
    50%{transform:scale(1.1);}
    100%{transform:scale(0.8);}
}