//colors
$accent:#f40552;
$main:#05dfd7;
$background:#FFFFFF;
$shadow:rgba(10,10,10,0.5);

//max-width of various screenSizes
$phone:600px;
$tablet:800px;
//desktop
//$bigMonitor:;

//alignment
@mixin horizontal{
    left:50%;
    transform:translateX(-50%);
}
@mixin vertical{
    top:50%;
    transform: translateY(-50%);
}
@mixin center{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

//elements
@mixin button {
    outline: none;
    border:none;
    background:none;
    padding:10px;
    border-radius: 20px;
}
