.attention {
  -webkit-animation: 4s attention 0s linear infinite;
          animation: 4s attention 0s linear infinite;
}

.anim_hide_down {
  -webkit-animation: 1s hide_down 0s ease-out;
          animation: 1s hide_down 0s ease-out;
}

.anim_reveal_up {
  -webkit-animation: 1s reveal_up ease-in;
          animation: 1s reveal_up ease-in;
}

@-webkit-keyframes attention {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  25% {
    -webkit-transform: translateY(50px) scale(1.2);
            transform: translateY(50px) scale(1.2);
  }
  50% {
    -webkit-transform: translateX(-20px) scale(1.1);
            transform: translateX(-20px) scale(1.1);
  }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    scale: 0.4;
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes attention {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  25% {
    -webkit-transform: translateY(50px) scale(1.2);
            transform: translateY(50px) scale(1.2);
  }
  50% {
    -webkit-transform: translateX(-20px) scale(1.1);
            transform: translateX(-20px) scale(1.1);
  }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    scale: 0.4;
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes hide_down {
  from {
    bottom: 0px;
  }
  to {
    bottom: -100%;
  }
}

@keyframes hide_down {
  from {
    bottom: 0px;
  }
  to {
    bottom: -100%;
  }
}

@-webkit-keyframes reveal_up {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0px;
  }
}

@keyframes reveal_up {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0px;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

section.landing {
  background-image: url("../images/colorful.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

section.landing div.container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  text-align: center;
}

section.landing img.profile_img {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

section.landing div.card {
  position: relative;
  max-height: 300px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(10, 10, 10, 0.5);
          box-shadow: 1px 1px 5px 5px rgba(10, 10, 10, 0.5);
  margin: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  text-align: left;
}

section.landing div.card h3.title {
  margin: 10px 0px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 22px;
  text-align: center;
}

section.landing div.card p {
  line-height: 24px;
  text-align: center;
}

section.landing div.cont {
  padding: 10px;
  text-align: center;
}

section.landing div.cont i {
  font-size: 27px;
  margin: 0px 20px;
  color: blue;
  -webkit-transition: 1s;
  transition: 1s;
}

section.landing div.cont i:hover {
  -webkit-animation: 1s shake 0s ease-in-out;
          animation: 1s shake 0s ease-in-out;
}
/*# sourceMappingURL=index.css.map */