body {
  background-image: url("../images/1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

div.space {
  position: relative;
  height: 80px;
}

section.blur_cover {
  background: rgba(10, 10, 10, 0.5);
  padding: 0px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow-y: scroll;
}

div.project {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 900px;
  padding: 20px;
  background: rgba(10, 10, 10, 0.7);
  margin-bottom: 20px;
}

div.project h3.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 10px 0px;
  color: #64ff64;
}

div.description {
  padding: 10px;
  font-size: 18px;
  font-family: Arial;
  color: white;
}

div.projectlinks {
  text-align: center;
  padding: 5px;
}

div.projectlinks button.link {
  padding: 5px;
  margin: 0px 10px;
  border: none;
  outline: none;
  background: #00ca00;
  color: white;
  border-radius: 20px;
  border: 2px solid transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

div.projectlinks button.link small {
  margin: 10px 0px;
  font-size: 15px;
  font-weight: lighter;
}

div.projectlinks button.link:hover {
  background: rgba(10, 10, 10, 0.9);
  border: 2px solid #00ca00;
  color: 1px solid #00ca00;
}

section.project_images {
  position: fixed;
  width: 100vw;
  height: 70vh;
  background: rgba(10, 10, 10, 0.93);
  bottom: 0px;
  display: none;
}

section.project_images div.close {
  position: relative;
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

section.project_images div.close i {
  color: crimson;
}

section.project_images div.project_title {
  padding: 10px;
  color: white;
  font-family: Arial;
  margin-bottom: 10px;
}

section.project_images div.images_container {
  position: relative;
  height: 70%;
  width: 100%;
  overflow: hidden;
}

section.project_images div.images_container div.project_slider {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

section.project_images div.images_container div.project_slider div.imageCover {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

section.project_images div.images_container div.project_slider div.imageCover img {
  position: relative;
  height: 100%;
  width: auto;
}

section.project_images div.images_container div.project_slider .activeSlide {
  position: relative;
  left: 0%;
  top: 0px;
  display: inline-block;
  -webkit-animation: 1s showSlide 0s ease-in;
          animation: 1s showSlide 0s ease-in;
}

section.project_images div.images_container div.project_slider .deactiveSlide {
  position: relative;
  left: -100%;
  top: 0px;
  display: inline-block;
  -webkit-animation: 1s hideSlide 0s ease-in;
          animation: 1s hideSlide 0s ease-in;
}

section.project_images div.controlls {
  text-align: center;
}

section.project_images button.control {
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  color: #64ff64;
}

div.imageLoading {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  -webkit-animation: 2s loading 0s infinite ease-in;
          animation: 2s loading 0s infinite ease-in;
  border-radius: 50%;
  background-image: radial-gradient(#64ff64, rgba(10, 10, 10, 0.9));
}

@-webkit-keyframes loading {
  from {
    background-image: radial-gradient(rgba(10, 10, 10, 0.9), #64ff64);
    -webkit-box-shadow: 1px 1px 10px 10px rgba(100, 200, 100, 0.5);
            box-shadow: 1px 1px 10px 10px rgba(100, 200, 100, 0.5);
  }
  to {
    background-image: radial-gradient(#64ff64, rgba(10, 10, 10, 0.9));
  }
}

@keyframes loading {
  from {
    background-image: radial-gradient(rgba(10, 10, 10, 0.9), #64ff64);
    -webkit-box-shadow: 1px 1px 10px 10px rgba(100, 200, 100, 0.5);
            box-shadow: 1px 1px 10px 10px rgba(100, 200, 100, 0.5);
  }
  to {
    background-image: radial-gradient(#64ff64, rgba(10, 10, 10, 0.9));
  }
}

@-webkit-keyframes showSlide {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes showSlide {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@-webkit-keyframes hideSlide {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes hideSlide {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@media only screen and (max-width: 700px) {
  div.project {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=projects.css.map */