* {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 5px;
  background: none;
}

::-webkit-scrollbar-thumb {
  width: 7px;
  background: #64ff64;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: rgba(10, 10, 10, 0.9);
}

a {
  text-decoration: none;
}

div.topnav {
  position: fixed;
  top: 0px;
  width: 100vw;
  padding: 20px 5px;
  background: rgba(10, 10, 10, 0.9);
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  z-index: 10;
}

div.topnav button {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #64ff64;
  background: none;
  color: #64ff64;
}

div.topnav button.active {
  color: white;
  border: 1px solid white;
}

div.sidenav {
  position: fixed;
  right: 20px;
  width: 10px;
  margin-right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

ul.nav {
  list-style: none;
}

ul.nav a li {
  height: 20px;
  width: 20px;
  border: 2px solid #64ff64;
  border-radius: 50%;
  background: none;
  margin: 40px 5px;
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
  padding: 5px;
}

ul.nav a li i {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

ul.nav li:hover {
  border: 2px solid white;
  color: #64ff64;
}

section.section {
  position: relative;
  margin: 20px 0px;
  width: 100vw;
  height: 100vh;
}

section#landing {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

div.bigcard {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70%;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

div.image {
  font-size: 60px;
  text-align: center;
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
}

div.img {
  font-size: 80px;
}

div.text {
  padding: 20px;
  color: white;
  text-align: center;
}

h3.header {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

div.text p {
  font-size: 24px;
  margin: 20px 0px;
  font-family: cursive;
  font-weight: lighter;
}

div.text p i {
  color: #64ff64;
}

table.contacts {
  position: relative;
  color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

table.contacts td {
  padding: 10px;
  font-size: 18;
}

div.contentcard {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70%;
  width: 80%;
}

div.contentcard p {
  font-size: 20px;
  margin: 10px 0px;
}

h4.title {
  font-size: 19px;
  margin: 10px;
}

i.fa-html5 {
  color: #FF0F0F;
}

i.fa-css3 {
  color: #5959FF;
}

i.fa-server {
  color: lightseagreen;
}

div.technologies {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

div.tech {
  position: relative;
  max-width: 300px;
  margin: 5px 5px;
  padding: 10px;
  border-bottom: 1px solid #64ff64;
}

div.tech h4.title {
  text-align: center;
  padding: 10px;
  font-size: 22px;
}

div.serv {
  margin: 20px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

div.service {
  text-align: center;
  background: rgba(10, 10, 10, 0.9);
  position: relative;
  height: 100%;
  margin: 20px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 20px 10px 20px 10px #323232;
          box-shadow: 20px 10px 20px 10px #323232;
}

div.serHeader {
  position: relative;
  width: 100%;
  color: #64ff64;
  padding: 10px 0px;
  font-size: 25px;
  background: rgba(10, 10, 10, 0.9);
}

ul.checklist {
  list-style-type: none;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: black;
  background: #9a9a9a;
}

ul.checklist li {
  padding: 5px;
  margin: 10px 0px;
  font-size: 18px;
  color: white;
}

ul.checklist i {
  color: #64ff64;
  font-size: 12px;
  margin: 0 10px;
}

div.serBottom {
  position: absolute;
  background: rgba(10, 10, 10, 0.9);
  padding: 10px 0px;
  bottom: 0px;
  text-align: center;
  width: 100%;
  color: #64ff64;
  font-size: 20px;
}

h4.subheader {
  font-size: 18px;
}

section.animation {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 700px) {
  section#proff {
    height: 1400px;
  }
  div.bigcard {
    width: 90%;
    display: block;
  }
  div.image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  div.contentcard p {
    font-size: 16px;
    position: relative;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  div.serv {
    display: block;
    height: auto;
  }
  div.serBottom {
    position: relative;
  }
  div.service {
    height: auto;
  }
  div.technologies {
    margin-top: 100px;
    display: block;
  }
  div.technologies div.tech {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
/*# sourceMappingURL=shared.css.map */