@import './global.scss';

*{
    padding:0px;
    margin:0px;
}
body::-webkit-scrollbar{
    width:6px;
}
body::-webkit-scrollbar-track{
    background: $shadow;
}
body::-webkit-scrollbar-thumb{
    background: $main;
}
body{
    overflow-x:hidden;
}

a{
    text-decoration: none;
}
//topnav
nav.topnav{
    position: fixed;
    top:0px;left:0px;
    width:100vw;
    padding:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:white;
    box-shadow: 1px 1px 10px 10px $shadow;
    z-index: 10;
}
ul.links{
    list-style-type: none;
    li{
        display: inline-block;
        padding:5px;
        margin:0px 5px;
    }
}

//section.full
section.full{
    position: relative;
    height: 100vh;
    width:100vw;
}
//button
.button{
    @include button;
    background:$main;
    color:white;
    position: relative;
    @include horizontal;
    margin:20px 0px;
    box-shadow: 1px 1px 4px 4px $shadow;
    border:1px solid transparent;
}
.call_to_action{
    position: relative;
    width:80%;
    font-size: 18px;
    transition:1s;
}
.call_to_action:hover{
    background:white;
    color:$accent;
    border:1px solid $accent;
    box-shadow: none;
}
//loading svg

