@import 'global';
*{
    padding:0px;
    margin:0px;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x:hidden;
    background:gray;
}
a{
    text-decoration: none;
}
div.topnav{
    position:fixed;
    top:0px;
    width:100vw;
    padding:20px 5px;
    background:$background;
    color:white;
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    z-index:10;
}
div.topnav button{
    padding:10px;
    border:none;
    border-bottom:1px solid $accent;
    background:none;
    color:$accent;
}
div.topnav button.active{
    color:white;
    border:1px solid white;
}
div.sidenav{
    position:fixed;
    right:20px;
    width:10px;
    @include vertical;
}
ul.nav{
    list-style: none;
}
ul.nav li{
    height:20px;
    width:20px;
    border:2px solid white;
    border-radius:50%;
    background:none;
    margin:40px 0px;
    transition:1s;
}
ul.nav li:hover{
    background:white;
}
section.section{
    height:100vh;
    width:100vw;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
div.bigcard{
    position: relative;
    @include center;
    height:70%;
    width:80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
div.image{
    font-size:60px;
    text-align: center;
    position: relative;
    height:100%;
    background-size: cover;
    background-position: center;
}
div.img{
    font-size:80px;
}
div.text{
    background:$background;
    padding:20px;
    color:white;
    text-align:center;
}
h3.header{
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
div.text p{
    font-size:24px;
    margin:20px 0px;
    font-family: cursive;
    font-weight: lighter;
}
div.text p i{
    color:$accent;
}
table.contacts{
    position:relative;
    color:white;
    @include horizontal;
}
table.contacts td{
    padding:10px;
    font-size:18;
}
div.contentcard{
    color:white;
    position: relative;
    @include center;
    height:70%;
    width:80%;
}
div.contentcard p{
    font-size:20px;
    margin:10px 0px;
}
ul.skills{
    list-style: none;
    font-size:18px;
    position: relative;
    @include horizontal;
}
ul.skills li{
    padding:10px 5px;
}
div.serv{
    margin:20px 0px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
div.service{
    text-align: center;
    background:$background;
    position:relative;
    height:100%;
    margin:20px 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:20px 10px 20px 10px rgba(50,50,50,3);
}
div.serHeader{
    position: relative;
    width:100%;
    color:$accent;
    padding:10px 0px;
    font-size: 25px;
    background:$background;
}
ul.checklist{
    list-style-type: none;
    position: relative;
    @include horizontal;
    color:black;
    background: lighten(gray,10);
}
ul.checklist li{
    padding:5px;
    margin:10px 0px;
    font-size: 18px;
    color:white;
}
ul.checklist i{
    color:$accent;
    font-size: 12px;
    margin:0 10px;
}
div.serBottom{
    position:absolute;
    background:$background;
    padding:10px 0px;
    bottom:0px;
    text-align: center;
    width:100%;
    color:$accent;
    font-size: 20px;
}
h4.subheader{
    font-size:18px;
}
@media only screen and (max-width:700px){
    div.bigcard{
        width:90%;
        display:block;
    }
    div.image{
        height:100px;
        width:100px;
        border-radius: 50%;
        position:relative;
        @include horizontal;
    }
    div.contentcard p{
        font-size:16px;
    }
    div.serv{
        display:block;
        height:auto;
    }
    div.serBottom{
        position: relative;
    }
    div.service{
        height:auto;
    }
}