@import './animations.scss';
@import './mixins.scss';
*{
    padding:0px;
    margin:0px;
}
body{
    overflow-x:hidden;
}
a{
    color:currentColor;
}

//components
nav.topnav{
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:50px;
    z-index: 100;
    padding:5px;
    div.container{
        display: flex;
        justify-content: space-between;
    }
}
ul.links{
    list-style-type: none;
    li{display: inline-block;margin:0px 10px;}
}
div.container{
    width:800px;
}

//alignment classes
.center{
    position: relative;
    @include center_h;
}
.center_v{
    position: relative;
    @include center_v;
}
.center_all{
    position: relative;
    @include center_all;
}

#loading_page{
    height: 100vh;
    width:100vw;
    div.iron_man_container{
        background:none;
        height:300px;
        width:300px;
        overflow: hidden;
        div.loading_bar{
            position: relative;
            background:pink;
            position: relative;
            height:100%;
            width:100%;
            bottom:-100%;
            //animation: 10s 1s reveal_bottom ease-in infinite;
        }
        #loading_value{
            position: relative;
            height:30px;
            text-align: center;
            font-size:1.3em;
            padding:10px;
        }
        div.iron_man_image{
            position: relative;
            width:50%;
            height:50%;
            top:0;
            z-index: 100;
            background:none;
            background-image: url('../../images/iron_man_loading.png');
            //background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

//fonts
.banner{
    font-weight: lighter;
    letter-spacing: 2px;
}