*{
    padding:0px;
    margin:0px;
}
body{
    overflow-x:hidden;
}
a{
    color:currentColor;
}

//components
nav.topnav{
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:50px;
    z-index: 100;
    padding:5px;
    div.container{
        display: flex;
        justify-content: space-between;
    }
}
ul.links{
    list-style-type: none;
    li{display: inline-block;margin:0px 10px;}
}
div.container{
    width:400px;
}
.center{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
//fonts
.banner{
    font-weight: lighter;
    letter-spacing: 2px;
}