@import '../mixins.scss';
header.landing{
    margin-top:70px;
    height:100vh;
    width:100vw;
    div.container{
        height:70vh;
    }
}

div.landing_card{
    padding:2em;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: $border_radius;
}

div.text_box{
    padding:30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    h3,a{
        margin:30px 0px;
    }
}
div.image{
    position: relative;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img.profile{
    position: relative;
    width: 100%;
    height: auto;
}
section.full_section{
    position: relative;
    height:100vh;
    width:100vw;
}
section.portfolio{
    div.container{
        background:white;
        padding:10px;
        border-radius: $border_radius;
    }
    .title{
        padding:10px;
    }
}
div.par{
    display: flex;
    margin-bottom: 50px;
    border:3px solid transparent;
    transition:1s;
    i{
        padding:10px;
        font-size: 3em;
        transition:1s;
        min-width: 60px;
        text-align: center;
    }
    p{
        padding: 20px;
    }
}
div.par:hover{
    border-left:3px solid lightgreen;
    i{color:lightgreen;}
}
div.downloadcv{
    text-align: center;
}
section.contacts{
    margin-top:50px;
    background:darken(green,10%);
    color:white;
    padding-bottom: 50px;
    div.container{
        padding:10px;
    }
    li{
        font-size: 1.3em;
    }
}


@media only screen and (max-width:800px){
    div.container{
        width:600px;
    }
}

@media only screen and (max-width:600px){
    div.landing_card{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
    }
    div.container{
        width:500px;
    }

}

@media only screen and (max-width:500px){
    div.landing_card{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
    }
    div.container{
        width:400px;
    }
    ul.links{
        display: none;
    }
    section.full_section{
        height:120vh;
    }
    div.landing_card{
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr;
        .superTitle{
            font-size: 3em;
        }
        .subTitle{
            font-size: 2em;
        }
    }
    div.par{
        flex-direction: column;
        margin-top:50px;
        i{
            font-size: 20px;
        }
        p{
            padding:5px;
        }
    }
    section.contacts{
        margin-top:400px;
        .dual{
            display: flex;
            grid-template-columns: 1fr;
            flex-direction: column;
        }
    }

}

@media only screen and (max-width:400px){
    div.landing_card{
        width:250px;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
    }
    div.container{
        width:300px;
    }
}